blockcheck/blockcheck.log
bin/cygwin/tmp
custom/
test.bat
blockcheck/LM
lists/scripts/bc-args-list.txt
lists/blocked-hosts-rtk.txt
lists/scripts/old/
lists/scripts/args/
lists/scripts/cidr_cache.json
lists/scripts/README.md
**venv
**__pycache__
bin_update.bat
bin_update.sh
hide_switch.enabled
game_filter.enabled
lists/scripts/all-domains.txt